{% load staticfiles %}

<html lang="en">
<head>
<title>MeetStar | Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset utf="8">
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=BenchNine:400,300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<!--fonts-->
<!--link css-->
<link rel="stylesheet" type="text/css" href="static/mainpage/style.css" />
<!--bootstrap-->
<link href="static/mainpage/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--coustom css-->
<link href="static/mainpage/style.css" rel="stylesheet" type="text/css"/>
<!--default-js-->
<script src="static/mainpage/js/jquery-2.1.4.min.js"></script>
<!--bootstrap-js-->
<script src="static/mainpage/js/bootstrap.min.js"></script>
<!--script-->
<!---- start-smoth-scrolling---->
            <script type="text/javascript" src="js/move-top.js"></script>
            <script type="text/javascript" src="js/easing.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll").click(function(event){
                        event.preventDefault();
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    });
                });
            </script>
        <!--start-smoth-scrolling-->
    </head>
    <body>
        <div class="header-top" id="{% block page_id %}inner{% endblock %}">
            <div class="navbar-wrapper">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <img src="static/mainpage/images/doughnut.png">
                                <a class="navbar-brand" href="index.html" >MEETSTAR</a>
                            </div>

                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav nav-floats1 ">
                            <li><a href="#meetmedia" class="scroll">Meet Media</a></li>
                            <li><a href="#upcomingstars" class="scroll">Upcomig Stars</a></li>
                            <li><a href="#contact" class="scroll">Contact</a></li>
                            <li><a href="login.html">Login</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div><!-- /.navbar-collapse -->
                        <div class="clearfix"></div>
                    </div><!-- /.container-fluid -->

                </nav>
            </div>
		</div>


        {% block content %}
        {% endblock %}


        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter47381461 = new Ya.Metrika2({
                            id:47381461,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true,
                            trackHash:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/tag.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks2");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/47381461" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113086828-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-113086828-1');
        </script>
    </body>
</html>
