{% load staticfiles %}


{% block carousel %}
<div class="header-bottom">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
				<div class="item active">
				  <img src="static/mainpage/images/blackpink.jpg" alt="First slide" class="img-wid"/>
				</div>
				<div class="item">
				  <img src="static/mainpage/images/wannaone.jpg" alt="Second slide" class="img-wid"/>
				</div>
				<div class="item">
				  <img src="static/mainpage/images/bts.jpg" alt="Third slide" class="img-wid"/>
				</div>
				<div class="item">
				  <img src="static/mainpage/images/exo.jpg" alt="Third slide" class="img-wid"/>
				</div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			  </a>
			</div>
        <!--our-partners-->
			<div class="our-partners">
				<div class="container">
					<h3>our partners</h3>
					<div class="col-md-3 flot-stn2">
					 <a href="#"><img src="static/mainpage/images/part2.jpg" alt="/" /></a>
					</div>
					<div class="col-md-3 flot-stn2">
					 <a href="#"><img src="static/mainpage/images/part3.jpg" alt="/"/></a>
					</div>
					<div class="col-md-3 flot-stn2">
					 <a href="#"><img src="static/mainpage/images/part4.jpg" alt="/"/></a>
					</div>
					<div class="col-md-3 flot-stn2">
					 <a href="#"><img src="static/mainpage/images/part1.jpg" alt="/"/></a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
</div>
{% endblock %}
