{% load staticfiles %}


{% block how_to %}
<div class="top-music">
    <div class="container">
        <div class="row musi-top">
            <h3>How to meet your Idol?</h3>
            <div class="col-md-3 musi-top-grid">
              <img class="img-circle" src="static/mainpage/images/registration.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2><span class="glyphicon glyphicon-ok"></span>
      Registration</h2>
              <p>Complete very simple registration with this link</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-3 musi-top-grid">
              <img class="img-circle" src="static/mainpage/images/numbers.png" alt="Generic placeholder image" width="140" height="140">
              <h2><span class="glyphicon glyphicon-stats"></span>
      Choose numbers</h2>
              <p>You can choose several times.Check out your luck!</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-3 musi-top-grid">
              <img class="img-circle" src="static/mainpage/images/wait.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2><span class="glyphicon glyphicon-time"></span>
      Wait for the lucky number</h2>
              <p>Every 2 weeks independent program chooses random numbers of the winner who will meet the KPOP idol</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-3 musi-top-grid">
              <img class="img-circle" src="static/mainpage/images/meet.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2><span class="glyphicon glyphicon-star"></span>Meet your dream!</h2>
              <p>If you are the winner,we take you to the evening with the KPOP star and you just enjoy your time</p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
      </div>
</div>
{% endblock %}
