{% load staticfiles %}


{% block media %}
    <div class="videos" id="meetmedia">
    <div class="container">
        <h3>Meet Media</h3>
        <div class="col-md-4 ifrm-stng">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TI0DGvqKZTI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4 ifrm-stng">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hsh54g9JmC0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4 ifrm-stng">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8b2EP0NZtrU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4 ifrm-stng">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bbEoRnaOIbs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4 ifrm-stng">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/93ASUImTedo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4 ifrm-stng">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t4H_Zoh7G5A" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
